{%- set version = pillar.motion.server.get("version", "3.12") %}

{%- set motion_base_url = 'https://github.com/sackmotion/motion.git' %}

{%- set motion = salt['grains.filter_by']({
    'Debian': {
        'base_dir': '/srv/motion',
        'base_url': motion_base_url,
        'pkgs': ['libjpeg-dev', 'autoconf'],
        'version': version,
    },
    'Arch': {
        'base_dir': '/srv/motion',
        'base_url': motion_base_url,
        'pkgs': ['gcc'],
        'version': version,
    },
    'RedHat': {
        'base_dir': '/srv/motion',
        'base_url': motion_base_url,
        'version': version,
    },
    'Windows': {
        'base_dir': '/srv/motion',
        'base_url': motion_base_url,
        'version': version,
    },
}, merge=salt['pillar.get']('motion:server')) %}
